.web-4pD {
    align-items: flex-end;
    background-color: #050505;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    width: 100%;

    .auto-group-k8hk-7Gh {
        flex-shrink: 0;
        height: 103.3rem;
        margin-bottom: 2.8rem;
        position: relative;
        width: 189.3rem;

        .rectangle-7-P1F {
            background-color: rgba(36, 0, 0, 0.5);
            height: 13.5rem;
            left: 0;
            position: absolute;
            top: 0;
            width: 166rem;
        }

        .ellipse-9-fjT {
            height: 27.1rem;
            left: 0;
            object-fit: contain;
            position: absolute;
            top: 0;
            vertical-align: top;
            width: 35.1rem;
        }

        .ellipse-10-PvM {
            height: 27.1rem;
            left: 73.7rem;
            object-fit: contain;
            position: absolute;
            top: 70.1rem;
            vertical-align: top;
            width: 35.1rem;
        }

        .ellipse-11-vfP {
            height: 27.1rem;
            left: 0;
            object-fit: contain;
            position: absolute;
            top: 63.4rem;
            vertical-align: top;
            width: 35.1rem;
        }

        .ellipse-12-GjF {
            height: 27.1rem;
            left: 125rem;
            object-fit: contain;
            position: absolute;
            top: 0;
            vertical-align: top;
            width: 35.1rem;
        }

        .photo-1501612780327-45045538702b-1-QKf {
            height: 83.7rem;
            left: 0;
            object-fit: cover;
            position: absolute;
            top: 13.5rem;
            vertical-align: top;
            width: 169.9rem;
        }

        .home-fFb {
            color: #ffffff;
            font-family: Roboto, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 500;
            height: 2.3rem;
            left: 68.1rem;
            line-height: 1.4168750048;
            position: absolute;
            top: 7.4rem;
            white-space: nowrap;
            width: 4.3rem;
        }

        .collections-hi5 {
            color: #ffffff;
            font-family: Roboto, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 500;
            height: 2.3rem;
            left: 80.3rem;
            line-height: 1.4168750048;
            position: absolute;
            top: 7.4rem;
            white-space: nowrap;
            width: 8.1rem;
        }

        .contac-us-om7 {
            color: #ffffff;
            font-family: Roboto, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 500;
            height: 2.3rem;
            left: 94.1rem;
            line-height: 1.4168750048;
            position: absolute;
            top: 7.4rem;
            white-space: nowrap;
            width: 7.4rem;
        }

        .about-KDf {
            color: #ffffff;
            font-family: Roboto, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 500;
            height: 2.3rem;
            left: 16.3rem;
            line-height: 1.4168750048;
            position: absolute;
            top: 91.4rem;
            white-space: nowrap;
            width: 4.3rem;
        }

        .general-zqb {
            color: #ffffff;
            font-family: Roboto, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 500;
            height: 2.3rem;
            left: 26rem;
            line-height: 1.4168750048;
            position: absolute;
            top: 91.4rem;
            white-space: nowrap;
            width: 5.6rem;
        }

        .about-us-VnM {
            color: #ffffff;
            font-family: Roboto, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 500;
            height: 2.3rem;
            left: 36.3rem;
            line-height: 1.4168750048;
            position: absolute;
            top: 91.4rem;
            white-space: nowrap;
            width: 6.5rem;
        }

        .mengapa-gitaris-selalu-terlambat-karena-mereka-selalu-bermain-dengan-tarik-waktu-baV {
            color: #ffffff;
            font-family: Roboto, 'Source Sans Pro';
            font-size: 1.7rem;
            font-weight: 500;
            height: 2.5rem;
            left: 52.2rem;
            line-height: 1.4168750539;
            position: absolute;
            top: 37.2rem;
            white-space: nowrap;
            width: 65.7rem;
        }

        .rectangle-6-2vh {
            background-color: rgba(252, 71, 84, 0.9100000262);
            border-radius: 0.4rem;
            height: 5rem;
            left: 149.3rem;
            position: absolute;
            top: 4.9rem;
            width: 13.6rem;
        }

        .download-apk-7x9 {
            color: #ffffff;
            font-family: Roboto, 'Source Sans Pro';
            font-size: 1.7rem;
            font-weight: 500;
            height: 2.5rem;
            left: 150.4rem;
            line-height: 1.4168750539;
            position: absolute;
            top: 6.2rem;
            white-space: nowrap;
            width: 11.3rem;
        }

        .rectangle-8-pLm {
            background-color: rgba(252, 71, 84, 0.9100000262);
            border-radius: 0.4rem;
            height: 5rem;
            left: 77.6rem;
            position: absolute;
            top: 74.4rem;
            width: 13.6rem;
        }

        .get-start-Y1s {
            color: #ffffff;
            font-family: Roboto, 'Source Sans Pro';
            font-size: 1.7rem;
            font-weight: 500;
            height: 2.5rem;
            left: 81rem;
            line-height: 1.4168750539;
            position: absolute;
            top: 75.7rem;
            white-space: nowrap;
            width: 6.8rem;
        }

        .ellipse-4-eKo {
            background-color: rgba(255, 129, 138, 0.6200000048);
            border-radius: 0.4rem;
            height: 0.8rem;
            left: 139.2rem;
            position: absolute;
            top: 45.3rem;
            width: 0.8rem;
        }

        .ellipse-5-A3F {
            background-color: rgba(255, 129, 138, 0.6200000048);
            border-radius: 0.4rem;
            height: 0.8rem;
            left: 117.4rem;
            position: absolute;
            top: 62.7rem;
            width: 0.8rem;
        }

        .ellipse-7-EJ1 {
            background-color: rgba(255, 129, 138, 0.6200000048);
            border-radius: 0.7rem;
            filter: blur(0.2rem);
            height: 1.4rem;
            left: 83rem;
            position: absolute;
            top: 67.7rem;
            width: 1.4rem;
        }

        .ellipse-8-Lbw {
            background-color: rgba(255, 129, 138, 0.6200000048);
            border-radius: 0.7rem;
            filter: blur(0.2rem);
            height: 1.4rem;
            left: 127.1rem;
            position: absolute;
            top: 32.4rem;
            width: 1.4rem;
        }

        .ellipse-6-TgZ {
            background-color: rgba(255, 129, 138, 0.6200000048);
            border-radius: 0.4rem;
            height: 0.8rem;
            left: 105.6rem;
            position: absolute;
            top: 26.1rem;
            width: 0.8rem;
        }

        .musique-PKK {
            color: #fffdfd;
            font-family: Roboto, 'Source Sans Pro';
            font-size: 2.3rem;
            font-weight: 700;
            height: 2.7rem;
            left: 1.3rem;
            line-height: 1.1725;
            position: absolute;
            top: 91rem;
            white-space: nowrap;
            width: 9.6rem;
        }

        .musique-JSH {
            color: #fffdfd;
            font-family: Roboto, 'Source Sans Pro';
            font-size: 5rem;
            font-weight: 700;
            height: 5.9rem;
            left: 11.7rem;
            line-height: 1.1725;
            position: absolute;
            top: 5.2rem;
            white-space: nowrap;
            width: 20.9rem;
        }

        .the-best-app-music-in-2023-AUV {
            color: #fffdfd;
            font-family: Roboto, 'Source Sans Pro';
            font-size: 8rem;
            font-weight: 700;
            height: 18.8rem;
            left: 48.35rem;
            line-height: 1.1725;
            position: absolute;
            text-align: center;
            top: 18.3rem;
            width: 72.1rem;
        }

        .music-1-ePf {
            height: 9.1rem;
            left: 0.6rem;
            object-fit: cover;
            position: absolute;
            top: 2.9rem;
            vertical-align: top;
            width: 9.4rem;
        }

        .image-1-jAD {
            height: 4.5rem;
            left: 145.9rem;
            object-fit: cover;
            position: absolute;
            top: 92.3rem;
            vertical-align: top;
            width: 4.5rem;
        }

        .image-2-4CV {
            height: 4.5rem;
            left: 151.6rem;
            object-fit: cover;
            position: absolute;
            top: 92.3rem;
            vertical-align: top;
            width: 4.5rem;
        }

        .image-3-oA5 {
            height: 5.4rem;
            left: 156.1rem;
            object-fit: cover;
            position: absolute;
            top: 91.8rem;
            vertical-align: top;
            width: 7.1rem;
        }
    }

    .auto-group-xk6r-j3j {
        align-items: flex-end;
        display: flex;
        flex-shrink: 0;
        margin-right: 7.6rem;
        width: calc(100% - 7.6rem);

        .ellipse-3-G3f {
            background-color: #414141;
            border-radius: 13.1rem;
            filter: blur(10rem);
            flex-shrink: 0;
            height: 26.2rem;
            margin-right: 103.4rem;
            width: 26.2rem;
        }

        .ellipse-2-nnh {
            flex-shrink: 0;
            height: 27.1rem;
            object-fit: contain;
            vertical-align: top;
            width: 35.1rem;
        }
    }
}