body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.todo-app {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1 {
    font-size: 24px;
}

input[type="text"] {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f4f4f4;
    margin-top: 5px;
    border-radius: 5px;
}

.delete-button {
    background-color: #ff4500;
    color: #fff;
    border: none;
    cursor: pointer;
    align-items: center;
}

.edit-button {
    align-items: center;
    background-color: #009933;
    color: #fff;
    border: none;
    cursor: pointer;
}
