body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 250px;
    background-color: rgba(171, 194, 233, 0.567);
}

input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    font-size: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    font-size: 20px;
    padding: 10px;
    margin: 5px;
}



